@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Auxiliar Sigo</h1>

<p></p>
<div class="p-5 mb-4 rounded-3" style="text-align: justify; color:white;  background: linear-gradient(180deg, rgb(0, 120, 83) 0%, rgb(0, 162, 59) 75%);">



         <div class="container-fluid py-5" >  <img  src="./images/LogoNeo.png" alt="Logo Neo" width="300px" style="  float:right;"  />    
        <p class="col-md-8 fs-5"><strong> Aplicación Auxiliar SIGO </strong> </p>
              <p class="col-md-8 fs-5">  Diseñada para  la administración, mejora y seguimiento  del sistema SIGO. </p>
              <p>Diseñado por Mejora Continua.</p>

       
      </div>
     
    </div>


